.app {
  /* background-image: url('./assets/picture.jpg'); Path to your image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set height to full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  text-align: center;
  color: white;
}

.welcome-text h1 {
  font-size: 3rem;
}

.welcome-text p {
  font-size: 1.5rem;
}

.header-main{
  height: 100px;
  background-color: aqua;
  width: 100%;
}